doctype html
html
head
    link(rel="stylesheet", href="style.css")
    title Ethernal project
body
    div.afara
        div.scroll
            div(class="page intro")
                img(src="asset/image/gogudelatrei.jpg", alt="OneMan")
                h1 Hello, my name
                h1 is Cosmin 
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel fuga facilis cupiditate nam iure perferendis eligendi, quod dolorem sapiente adipisci.
            div(class="page one")
                h1 Some work
            div(class="page two") 
                h1 All about me
            div(class="page three")
                h1 Contact    